
{{outlet}}

<h2> Tasks</h2>
{{#each model as |tasks index|}}
{{log 'model' tasks}}
<div class="well">

  <h4>{{#link-to 'tasks.edit'tasks.id}}{{tasks.title}}{{/link-to}}</h4>
  <small> Due: {{format-date tasks.date}}</small>
  <p>{{tasks.description}}</p>
</div>

{{/each}}
